
	.pay_info_divider{
		margin-top: 16px;
		height: 5px;
	    margin-bottom: 8px;
	    background: #eef0f4;
	}

	.model_div_input{
		position:prelative;
		width: 100%;
		height: auto; 
		margin-top:10px;
		margin-bottom: 10px;
	}

	.model_search_state{
		height: 20px;
		vertical-align: middle;
		margin-left: 24px;
		margin-top:5px;
		margin-bottom: 10px;
	    font-size: 16px;
	    color: #262626;
	}

	.model_member_search{
		width: 35%;
		margin-left: 6px;
	}

	.modal_row_info{
		width: 100%;
		margin-left: 24px;
		margin-top:6px;
	}

	.pay_row_info{
		width: 100%;
		margin-left: 24px;
		margin-top:16px;
	}


	.modal_col_state{
		width: 13%;
		font-size: 16px;
	}

	.modal_info_name{
		font-size: 16px;
		color: #7e7e7e;
	}

	.room_destine_state{
		font-size: 16px;
	}

	.modal_col_money{
		width: 8%;
		font-size: 16px;
		color: #7e7e7e;
	}

	.member_info_money{
		font-size: 16px;
		color: #fd5e01;
	}

	.modal_seat_name{
		font-size: 16px;
		color: #0080c0;
	}

	.modal_div_state{
	    margin-top: 12px;
	    margin-bottom: 12px;
	    margin-left: 24px;
	    font-size: 16px;
	    color: #262626;
	}

	.room_modal_radio{
		margin-left: 0px;
		margin-right: 70px;
		font-size: 16px;
		color: #7e7e7e;
	}

	.modal_input_state{
		width: 13%;
		font-size: 16px;
		margin-top: 3px
	}
	.modal_input_money{
		height: 30px;
		width: 100%;
	}

    .model_row_account{
        width: 100%;
		height: 80px;
		margin-top: 50px;
		text-align: right;
    }

	.modal_bt_divider{
		height: 1px;
		margin-bottom: 10px;
	    background: #eef0f4;
	}
	
	.room_pay_info{
		height: 370px;
	}
    .member_bt_account{
		margin-right: 30px;
    }






