
.member_password_content{
    height: 220px;
    margin-bottom: 2px;
}
.wallet_info_divider{
    margin-top: 0px;
    margin-bottom:0px; 
}

.modal_password_state{
    width: 16%;
    margin-top: 3px;
    font-size: 16px;
    color: #262626;
}
.modal_input_money{
    height: 30px;
    width: 100%;
}

.update_password_code{
    margin-left: 10px;
}

