.member_charge_title{
    font-size: 16px;
    color: #262626;
    padding-left: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.charge_search{
    width: 100%;
    font-size: 16px;
    color: #262626;
    margin-top: 20px;
}

.charge_type_state{
    text-align: right;
    margin-top: 3px;
}

.charge_input_order{
    width: 69%;
    text-align: left;
    margin-left: 10px;
}

.charge_input_number{
    width: 50%;
    text-align: left;
    margin-left: 10px;
}
.charge_input_name{
    width: 50%;
    height: 32px;
    text-align: left;
    margin-left: 40px;
}
.charge_select_mobile{
    width: 50%;
    text-align: left;
    margin-left: 10px;
    margin-right: 6%;
}

.charge_date_span{
    margin-left: 30px;
}

.charge_date_state{
    width: 18%;
    margin-left: 10px;
    height: 32px;
}
.charge_range_picker{
    width: 50%;
    height: 32px;
    margin-left: 1%;
}

.charge_select_charge{
    width: 50%;
    margin-left: 25px;
}
.charge_select_type{
    width: 50%;
    margin-left: 10px;
}

.charge_col_4{
    text-align: left;
}

.charge_info_more1{
    width: 100%;
    text-align: right;
    margin-top: 15px;
    margin-bottom: 20px;
}

.charge_more1{
    font-size: 14px;
    color: #0c59f1;
    margin-right: 6%;
    cursor:pointer;
}
.charge_more2{
    font-size: 14px;
    color: #0c59f1;
    margin-right: 6%;
    cursor:pointer;
}

.member_charge_table{
    border-top: 12px solid #eef0f4;
    border-left: 12px solid #eef0f4;
    border-right: 12px solid #eef0f4;
}

.charge_table_info{
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px
}

.charge_info_divider{
    margin-top: 20px;
    height: 10px;
    margin-bottom: 2px;
    background: #eef0f4;
}

#charge_id_up:hover{
    color: #fd5c02;
}
#charge_id_down:hover{
    color: #fd5c02;
}

.charge_spin{
    margin-left: 48%;
}